<p id="notice"><%= notice %></p>



<!DOCTYPE html>
<html>
	<head>
		<title>PRL</title>
    	<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
        <div class="header-nav">
        	<div class="wrap">
          		<div class="left-nav">
            		<ul>
	    	        	<li><%= link_to "Home", {:controller => "home"} %></li>
    		    	    <li><%= link_to "Researches", researches_path %></li>
	        	    	<li><%= link_to "Publications", publications_path %></li>
	            		<li><%= link_to "Group", profiles_path %></li>
    	        		<li><%= link_to "Alumni", {:controller => "alumni"} %></li>
        		    	<li><%= link_to "Gallery", albums_path %></li>
        	    	 	<li><%= link_to "Contact", {:controller => "contact"} %></li>
    	        	</ul>
	          	</div>
	          	<div class="right-social-icons">
					<ul>
						<%= render 'devise/menu/registration_items' %>
  						<%= render 'devise/menu/login_items' %>
					</ul>
				</div>
          		<div class="clear"> </div>
        	</div>
        <!---start-search---->
      	</div>
		<div class="wrap">
			<div class="content">						
					<div>
					
						<%= image_tag @event.avatar, {:alt => "home image", :class =>"eventpic"}%>
						<br><br>
						<div class = "event_text">
						<h3><b><%= @event.title %></b></h3>
						<p><%= simple_format(@event.content) %></p>
						</div>
						<%if current_user and current_user.profile.isAdmin%>
							<%= link_to 'Edit', edit_event_path(@event) %> |
							<%= link_to 'Back', events_path %> | 
							<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
						<%end%>
					</div>
				</div>
			<div class="clear"> </div>
		</div>
	</body>
</html>

