<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="label_text"><%= f.label :title %>:<br></div>
    <div class="blank_text"><%= f.text_field :title %></div>
  </div>
  <div class="field">
    <div class="label_text"><%= f.label :description %>:<br></div>
    <div class="blank_text"><%= f.text_area :description ,:cols => "70", :rows => "10"%></div>
  </div>
  
  
  <div class="field">
    <div class="label_text"><%= f.label :Image %>:<br></div>
    <div class="blank_text"><%= f.file_field :avatar%></div>
  </div>

  <div class="field">
    <div class="label_text"><%= f.label :Researchers %>:<br></div>
    <div class="blank_text"><%= f.select :profile_ids, Profile.all.collect {|x| [x.username, x.id]}, {}, :multiple => true %></div>
  </div>
  <div class="field">
    <div class="label_text"><%= f.label :Research_Area %>:<br></div>
    <div class="blank_text"><%= f.select :research_id, Research.all.collect {|x| [x.title, x.id]}, {}, :multiple => false %></div>
  </div>
  <div class="actions">
    <div class="botton_form"><%= f.submit %></div>
  </div>
<% end %>