<!DOCTYPE html>
<html>
  <head>
    <title>PRL</title>
      <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
        <div class="header-nav">
          <div class="wrap">
              <div class="left-nav">
                <ul>
                  <li><%= link_to "Home", {:controller => "home"} %></li>
                  <li><%= link_to "Researches", researches_path %></li>
                  <li><%= link_to "Publications", publications_path %></li>
                  <li><%= link_to "Group", profiles_path %></li>
                  <li><%= link_to "Alumni", {:controller => "alumni"} %></li>
                  <li><%= link_to "Gallery", albums_path %></li>
                  <li><%= link_to "Contact", {:controller => "contact"} %></li>
                </ul>
              </div>
              <div class="right-social-icons">
                <ul>
                  <%= render 'devise/menu/registration_items' %>
                  <%= render 'devise/menu/login_items' %>
                </ul>
              </div>
              <div class="clear"> </div>
          </div>
        <!---start-search---->
        </div>
    <div class="wrap">
      <div class="content">
        <div class="project">
          <% @projects.each do |project| %>
            <h3><%= project.title %></h3>
            <p><%= project.description %></p>
            <%= image_tag project.avatar, {:alt => "home image", :width => 800, :class =>"eventpic"}%>
            <br>
            <%= link_to 'Show', project %>
            <%= link_to 'Edit', edit_project_path(project) %>
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            <hr>
          <% end %>
        </div>
        <br>
        <%= link_to 'New Project', new_project_path %>
      </div>
    </div>
  </body>
</html>
